* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}
body {
	background: url("images/restaurant1.jpg") no-repeat;
	background-size: cover;
	background-color: #525a6a;
}
img {
	margin-top: 0px;
	margin-left: 450px;
}
h1 {
	margin-top: 30px;
	text-align: center;
	color:#fff;
	font-family: sans-serif;
	font-size: 50px;
}
p {
	margin-top: 1px;
	text-align: center;
	color:#fff;
	font-family: sans-serif;
	font-size: 30px;
}
hr {
	border: 2px #fff solid;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.logo {
	background: url("images/tflogo.png") no-repeat;
	background-size:cover;
	height:400px;
	width:400px;
}
